*{
    margin: 0%;
    padding: 0%; 
}

.center{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

body{
    background: 
    linear-gradient(to bottom right , rgb(255, 255, 255), rgb(230, 230, 230) , rgb(228, 228, 228));
}

.sidebar{
    position: absolute;
    top: 0%;
    flex-direction: column;
    height: 100vh;
    width: 16vw;
}

.title{
    font-size: 27px;
    width: 90px;
}

.nav-links{
    height: 23rem;
    width: 10rem;
    margin-left: -50px;
}

.links{
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.links li{
    position: relative;
    text-decoration: none;
    list-style: none;
}

.links li:active::after{
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    background-color: red;
    height: 1.2px;
    width: 100%;
}


.links li a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    transition: color 0.2s;
    font-size: 17px;
}


.links li a:hover{
    color: red;
}

.cart button{
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 25px;
    background: linear-gradient(to right , rgb(211, 79, 79) , rgb(219, 69, 69));
    color: white;
    border: none;
    border-radius: 30px;
    margin-bottom: 3rem;
}

.mysvg svg{
    display: none;
    height: 30px;
    width: 30px;
    color: white;
    fill: white;
}

.main{ 
    position: relative; 
    height: 100vh;
    width: 84vw;
    margin-left: 16vw;
}

.question{
    position: absolute;
    top: 85px;
    left: 90px;
    width: 31rem;
}

.question h2{
    font-size: 60px;
}

.sometext{
    width: 250px;
    position: absolute;
    top: 99px;
    right: 140px;
    color: rgb(100, 100, 100);
    font-size: 18px;

}

.sometext::after{
    content: '';
    margin-top: 5px;
    display: block;
    background: red;
    height: 2px;
    width: 40%;
}

.cardholder{
    position: absolute;
    bottom: 100px;
    width: 85%;
    height: 14rem;
}

.card{
    flex-direction: column;
    height: 80%;
    width: 9rem;
    border-radius: 10px;
    background: linear-gradient(to bottom right , rgb(240, 237, 237) , rgb(226, 223, 223));
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.479) ;
}

.imgholder{
    height: 90px;
    width: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.imgholder img{
    height: 100%;
    width: 100%;
}

.card p{
    margin-top: -1rem;
    font-weight: bold;
}

header{
    display: none;
}

.title2{
    display: none;
}


@media only screen and (max-width: 1180px){
   
    body{
        background: 
        linear-gradient(to bottom right , rgb(255, 255, 255), rgb(228, 228, 228));
    }

    .main{
        width: 100vw;
        margin-left: 0%;
    }

    .navbar{
        height: 80px;
        width: 100%;
    }

    .links li a{
        color: white;
    }

    .menu{
        height: 24px;
        flex-direction: column;
        align-items: flex-start;
    }


    .menu div{
        display: block;
        background: chocolate;
        height: 3px;
        width: 20px;
        border-radius: 10px;
    }
   
    .menu div:nth-child(1){
        width: 14px;
    }
    .menu div:nth-child(3){
        width: 17px;
    }

    .title2{
        display: block;
    }

    .mysvg svg{
        display: block;
        fill: chocolate;
    }


    .question{
        top: 38px;
        left: 50px;
        width: 16rem;
    }

    .question h2{
        font-size: 30px;
    }

    .sidebar{
        position: fixed;
        z-index: 1;
        top: 0px;
        left: 0%;
        background-color: tomato;
        height: 100vh;
        width: 46%;
        transition: transform 0.2s;
        
    }

    .sometext{
        top: 75%;
        left: 18%;
    }

    .cardholder{
        top: 20%;
        flex-wrap: wrap;
    }

    .card{
        margin-bottom: 20px;
    }

    .card:nth-last-child(1){
        display: none;
    }

}
